*{
  margin: 0;
  padding: 0;
}

.eje1{
  position: absolute;
  top: 0;
  left: 0px;
  margin: 0 auto;
  width: 260px;
  height: 230px;
}
.eje2{
  position: absolute;
  top: 0;
  right: 0;
  margin: auto 0 ;
  width: 250px;
  height: 230px;
}
h4{
  text-align: center;
  font-size: 80px;
  font-family: 'Indie Flower', cursive;
  font-family: 'Shrikhand', cursive;
  font-family: 'Philosopher', sans-serif;
  padding: 60px;
  color: white;
}
.eje3{
  background-color: black;
  width: 100%;
  height: 900px;
}
nav{
  width: 100%;
  background-color: black;
  text-align: center;
}
nav ul li{
  display: inline-block;
}
a{
  padding: 20px 30px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
nav ul li a:hover{
  border-bottom: solid white 4px;
  box-sizing: border-box;
  background-color: rgb(83, 145, 227);
  border: solid white;
}
nav:nth-child(2){
  display: block;
  width: 1300px;
  height: 600px;
  background-color: black;
  overflow: hidden;
  position: absolute;
  top: 300px;
  left: 50px;
}
nav:nth-child(2) > *{
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  animation: slide 12s infinite;
  position: absolute;
}
slide:nth-child(1){
  animation-delay: 1s;
  background-image: url(../asset/40.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(2){
  animation-delay: 2s;
  background-image: url(../asset/41.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(3){
  animation-delay: 3s;
  background-image: url(../asset/42.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(4){
  animation-delay: 4s;
  background-image: url(../asset/43.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(5){
  animation-delay: 4s;
  background-image: url(../asset/44.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(6){
  animation-delay: 4s;
  background-image: url(../asset/45.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(7){
  animation-delay: 4s;
  background-image: url(../asset/46.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(8){
  animation-delay: 4s;
  background-image: url(../asset/47.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(9){
  animation-delay: 4s;
  background-image: url(../asset/48.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(10){
  animation-delay: 4s;
  background-image: url(../asset/49.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(11){
  animation-delay: 4s;
  background-image: url(../asset/50.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(12){
  animation-delay: 4s;
  background-image: url(../asset/51.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(13){
  animation-delay: 4s;
  background-image: url(../asset/52.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(14){
  animation-delay: 4s;
  background-image: url(../asset/53.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(15){
  animation-delay: 4s;
  background-image: url(../asset/54.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(16){
  animation-delay: 4s;
  background-image: url(../asset/55.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(17){
  animation-delay: 4s;
  background-image: url(../asset/56.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(18){
  animation-delay: 4s;
  background-image: url(../asset/57.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(19){
  animation-delay: 4s;
  background-image: url(../asset/58.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(20){
  animation-delay: 4s;
  background-image: url(../asset/59.jpg);
  background-size: cover;
  background-position: center;
}

@keyframes slide {
0%{ left: 100%; width: 100%;}
5%{ left: 100%;}
25%{ left: -100%;}
30%{ left: -100%; width: 100%;}
30.0001%{ left: 100%; width: 0%;}
100%{ left: 100%; width: 0%;}
}
section>article:nth-child(1){
  position: absolute;
  top: 920px;
  left: 30px;
  margin: 0 auto;
  width: 300px;
  height: 400px;
  border: solid 5px red;
}
section>article:nth-child(2){
  position: absolute;
  top: 920px;
  left: 400px;
  margin: 0 auto;
  width: 300px;
  height: 400px;
  border: solid 5px red;
}
section>article:nth-child(3){
  position: absolute;
  top: 920px;
  left: 750px;
  margin: 0 auto;
  width: 300px;
  height: 400px;
  border: solid 5px red;
}
section>article:nth-child(4){
  position: absolute;
  top: 920px;
  left: 1100px;
  margin: 0 auto;
  width: 300px;
  height: 400px;
  border: solid 5px red;
}
section>article:nth-child(5){
  position: absolute;
  top: 1400px;
  left: 30px;
  margin: 0 auto;
  width: 300px;
  height: 400px;
  border: solid 5px red;
}
