*{
  margin: 0;
  padding: 0;
}

.eje1{
  position: absolute;
  top: 0;
  left: 0px;
  margin: 0 auto;
  width: 350px;
  height: 230px;
}
.eje2{
  position: absolute;
  top: 0;
  right: 0;
  margin: auto 0 ;
  width: 250px;
  height: 230px;
}
h4{
  text-align: center;
  font-size: 80px;
  font-family: 'Indie Flower', cursive;
  font-family: 'Shrikhand', cursive;
  font-family: 'Philosopher', sans-serif;
  padding: 60px;
  color: black;

}
.eje3{
  background-color: white;
  width: 100%;
  height: 300px;
}
nav{
  width: 100%;
  background-color: white;
  text-align: center;
}
nav ul li{
  display: inline-block;
}
a{
  padding: 20px 30px;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
nav ul li a:hover{
  border-bottom: solid white 4px;
  box-sizing: border-box;
  background-color: rgb(83, 145, 227);
  border: solid white;
}
.inicio{
  width: 100%;
  position: relative;
  height: 70vh;
  margin: auto;
  overflow: hidden;
}
.inicio .inicio1{
  animation: cambio 20s infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400vw;
}
.inicio>img{
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.inicio img:nth-child(1){
  left: 0;
  width: 1000px;
  height: 500px;
}
.inicio img:nth-child(2){
  left: 100vw;
  width: 1000px;
  height: 500px;
}
.inicio img:nth-child(3){
  left: 200vw;
  width: 1000px;
  height: 500px;
}
.inicio img:nth-child(4){
  left: 300vw;
  width: 1000px;
  height: 500px;
}
@keyframes cambio {
  0% {transform: translateX(0);}
  20% {transform: translateX(0);}

  25% {transform: translateX(-100vw);}
  45% {transform: translateX(-100vw);}

  50% {transform: translateX(-200vw);}
  70% {transform: translateX(-200vw);}

  75% {transform: translateX(-300vw);}
  100% {transform: translateX(-300vw);}
}
h3{
  position: absolute;
  top: 850px;
  left: 600px;
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
}
section>article:nth-child(1){
  position: absolute;
  top: 950px;
  left: 30px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
section>article>img{
  width: 250px;
  height: 300px;
}
section>article:nth-child(2){
  position: absolute;
  top: 950px;
  left: 400px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
section>article:nth-child(3){
  position: absolute;
  top: 950px;
  left: 750px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
section>article:nth-child(4){
  position: absolute;
  top: 950px;
  left: 1100px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
section>article:nth-child(5){
  position: absolute;
  top: 1300px;
  left: 30px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
section>article:nth-child(6){
  position: absolute;
  top: 1300px;
  left: 380px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
section>article:nth-child(7){
  position: absolute;
  top: 1300px;
  left: 750px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
section>article:nth-child(8){
  position: absolute;
  top: 1300px;
  left: 1100px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
section>article:nth-child(9){
  position: absolute;
  top: 1650px;
  left: 30px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
section>article:nth-child(10){
  position: absolute;
  top: 1650px;
  left: 380px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
section>article:nth-child(11){
  position: absolute;
  top: 1650px;
  left: 750px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
section>article:nth-child(12){
  position: absolute;
  top: 1650px;
  left: 1100px;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}
